.navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 5px 10%;
} 
.logo{
    width: 145px;
}

.search-box{
    display: flex;
    align-items: center;
}

.search-box input{
    padding:8px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 280px;
    color: #fff;
    cursor: pointer;
}
/*2nd part of the navbar*/

.nav-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4%;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
}
ul li{
    display: inline-block;
    margin: 5px 20px;
    font-size: 14px;
    cursor: pointer;
}
.sale{
   padding: 5px ;
   width: 50px;
   height: 25px;
   color: white;
   background-color: darkred;
}
/*3rd part of the navbar*/

.intro{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 0px 10%;
}
.intro div {
    display: inline-block;
    padding: 5px;
    color: white;
    font-size: 14px;
}

div a{
    padding-left: 5px;
}
/*Hero part of the navbar*/
.hero-container{
    position: relative;
}
.hero {
    width: 100%;
}
.hero-text{
    position: absolute;
    top: 40%;
    left: 20%;
    /* background-color: blanchedalmond; */
    color: white;
    text-align: left;
    width: 250px;
}
.underline{
    border-bottom: 3px solid red;
    width: 230px;
}
.hero-text-mission{
    margin-top: 5px;
}
.gear-up-now{
    margin-top: 20px;
    padding: 5px 10px;
    background-color: gold;
    border: none;
    cursor: pointer;
}
